.navbar {
    justify-content: space-between;
    padding: 2rem;
}

.navbar .main-items {
    width: 1rem;
}

.navbar .main-items .menu {
    display: none;
}

.navbar .main-items .menu.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60%;
    background-color: var(--white);
    padding: 5rem 2rem 0;
    box-shadow: 0 0 10rem rgb(0, 0, 0);
}

body:has(.menu.show) {
    overflow: hidden;
}

.navbar .main-items .menu-open {
    display: block;
}

.navbar .main-items .menu.show .menu-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--almost-black);
}

.navbar .main-items .menu.show ul {
    display: flex;
    flex-direction: column;
}

.navbar .main-items .menu.show ul.cta {
    margin-top: 1rem;
    align-items: center;
}

.navbar .main-items .menu.show ul.cta .btn {
    width: 180px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.navbar .main-items .menu.show ul li {
    position: relative;
    margin-left: 0;
    margin-top: .5rem;
}

.navbar .main-items .menu ul li ul.dropdown-open {
    position: relative;
    width: 11rem;
    left: 0;
    background-color: inherit;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: none;
    font-size: 15px;
}

.navbar .main-items .menu ul li ul.dropdown-close {
    display: none
}



.navbar .main-items .menu-toggle {
    display: block;
}

/* main  */

main {
    padding: 1rem 0;
}

main .hero {
    padding: 0;
    flex-direction: column;
    text-align: center;
}

main .hero .hero-text {
    width: 100%;
    order: 2;
    padding: 1rem 2rem;
}

main .hero .hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

main .hero .hero-image {
    padding-left: 0;
    margin-bottom: 2rem;
    width: 100%;
    order: 1;
}

main .hero .hero-image img.mobile-img {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

main .hero .hero-image img.desktop-img {
    display: none;
}


.break {
    display: none;
}

.clients .client img {
    width: 90%;
}